{% if user.is_authenticated %}
    user id : {{ user.username }}
    <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
    <a href="{% url 'login' %}">Log In</a>
    <p><a href="{% url 'signup' %}">Create Account</a></p>
{% endif %}

{% if latest_question_list %}
    <ul>
        <li><a href="raise404">{{ "raise 404" }}</a></li>
        {% for question in latest_question_list %}
            <li><a href={% url 'polls:detail' question.id %}>{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
